.open-institutions .open-institutions-body, .open-institutions .open-institutions-courses{
    width: 100%;
    margin: auto;
}
.open-institutions .open-institutions-banner{
    padding-bottom: 45px;
}
.open-institutions .open-institutions-courses{
    padding-top: 45px;
}
.open-institutions .course-title-container{
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.open-institutions .course-tittle-institution {
    font-size: 30px;
    color: #565756;
    text-align: center;
    font-weight: 1000;
    margin-bottom: 0;
    text-transform: capitalize;
}
.course-border{
    border-top: 3px solid #172c6b;
    width: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}