## mako


<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
  from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${institution_name}</%block>
<link rel="stylesheet" type="text/css" href="${static.url('course_classification/css/main.css')}"/> 
<main id="main" class="open-institutions mb-5" aria-label="Content" tabindex="-1">
    <section class="container-fluid px-0 open-institutions-banner">
        <div class="container-center">
          <img src="${institution_banner}" class="mx-auto openuchile-header d-block">
        </div>
        <img class="uchile-separator" src="${static.url('open-uchile-theme/images/uchile_separator.png')}" alt="">
    </section>

    ${HTML(institution_html)}

    %if (len(courses) > 0):
    <section class="courses-container open-institutions-courses">
        <div class="course-title-container">
            <h2 class="course-tittle-institution">${_("Courses").upper()}</h2>
            <div class="course-border"></div>
        </div>
        <section class="courses-list" style="padding-top: 25px;">

             <% displayed_courses = 0 %>
            %for course in courses:
                %if displayed_courses %4 == 0:
                    <div class="row">
                %endif
                <%  displayed_courses = displayed_courses +1 %>
                <div class="col-md-3 col-sm-12 p-2">
                    <%include file="../course.html" args="course=course" />
                </div>
                %if displayed_courses %4 == 0:
                    </div>
                %endif
            %endfor
        </section>
    </section>
    %endif
</main>
