## mako


<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
  from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${institution_name}</%block>
<link rel="stylesheet" type="text/css" href="${static.url('course_classification/css/main.css')}"/> 
<main id="main" class="open-institutions" aria-label="Content" tabindex="-1">
    <section class="container-fluid px-0 open-institutions-banner">
        <div class="container-center">
          <img src="${institution_banner}" class="mx-auto openuchile-header d-block">
        </div>
        <img class="uchile-separator" src="${static.url('open-uchile-theme/images/uchile_separator.png')}" alt="">
    </section>

    ${HTML(institution_html)}

    %if institution_name.upper() == 'UABIERTA':
        <%!
            from portal_api.utils import get_course, clean_data_course_active
            ua_courses = []
            url = "https://uabierta.uchile.cl/"
            aux_courses = get_course( url )
            if aux_courses is not None:
                ua_courses = clean_data_course_active(aux_courses['results'], url, 'uabierta')
        %>
        <section class="courses-container open-institutions-courses">
            <div class="course-title-container">
                <h2 class="course-tittle-institution">${_("Courses").upper()}</h2>
                <div class="course-border"></div>
            </div>
            <section class="highlighted-courses" style="padding-top: 25px;">
                <ul class="courses-list">
                    %for course in ua_courses:
                        <li class="mb-3">
                            <%include file="../course_portal.html" args="course=course" />
                        </li>
                    %endfor
                </ul>
            </section>
        </section>
    %elif (len(courses) > 0):
    <section class="courses-container open-institutions-courses">
        <div class="course-title-container">
            <h2 class="course-tittle-institution">${_("Courses").upper()}</h2>
            <div class="course-border"></div>
        </div>
        <section class="highlighted-courses" style="padding-top: 25px;">
            <ul class="courses-list">
                %for course in courses:
                    %if course.catalog_visibility == 'both':
                        <li class="mb-3">
                            <%include file="../course.html" args="course=course, main_class={}" />
                        </li>
                    %endif
                %endfor
            </ul>
        </section>
    </section>
    %endif
</main>
